[Unit]
Description=redis_server
After=network.target 

[Service]
ExecStart=/usr/share/redis_deploy/redis/src/redis-server /usr/share/redis_deploy/config/redis.conf
ExecStop=/bin/kill -KILL $MAINPID
Type=simple
KillMode=control-group
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
